.page {
  --background: #ffffff;
  --foreground: #171717;
  --gray-background: #938d8d;

  --text-primary: #171717;
  --text-secondary: #FFC5D3;

  --button-primary: #448061;
  --button-secondary: #FFC5D3;
  --button-primary-hover: #D2FFC4;
  --button-secondary-hover: #ee92a7;
  --button-secondary-border: #ADFFF5;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-background);
  min-height: 100dvh;
}

.hero-image {
  display: none;
}

.hero-mobile-image {
  display: block;
}

.categories {
  padding: 30px;
  text-align: center;
  background-color: var(--button-secondary);
}

.categories-container {
  flex-direction: column;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.features {
  padding: 30px;
  text-align: center;
  min-height: 50dvh;
}

.features-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.features ul {
  list-style: none;
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 22px;
  position: absolute;
  bottom: 140px;
  left: 50x;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--button-primary);
  color: var(--text-primary);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (min-width: 600px) {

  .hero-image {
    display: block;
  }

  .hero-mobile-image {
    display: none;
  }

  .categories-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ctas {
    bottom: 60px;
    left: 450px;
  }
}

/* 
@media (prefers-color-scheme: dark) {


  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */