.main-container {
    padding: 10px;
}

.main-container h1 {
    margin-bottom: 30px;
}

.card-container {
    list-style: none;
    padding: 0;
}

.product-card {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    padding: 10px;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-button {
    display: flex;
    gap: 10px;
    justify-content: end;
    grid-column: 2 / -1;
}

.product-info {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.main-table {
    display: none;
}

.main-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-button {
    width: 24px;
}

.icon {
    width: 16px;
}

.primary-button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--accentOne);
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.primary-button:hover {
    background-color: var(--button-primary-hover);
    color: #fff;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #448061;
    color: var(--text-primary);
    border-radius: 5px;
    padding: 4px 6px;
    border: 2px solid;
}

.edit-button:hover {
    background-color: #adfff5;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc5d3;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    padding: 4px 6px;
}

.delete-button:hover {
    background-color: #f498ae;
}

/* Form */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--foreground);
    padding: 20px 10px;
    border-radius: 10px;
    width: 100%;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field input[type="text"],
.input-field input[type="number"],
.input-field textarea {
    width: 95%;
    padding: 5px 5px;
    border: 1px solid var(--accentTwo);
    border-radius: 5px;
}

.input-field select {
    width: 98%;
    padding: 5px 5px;
    border: 1px solid var(--accentTwo);
    border-radius: 5px;
}

.input-container button[type="submit"] {
    background-color: var(--primary);
    padding: 10px 20px;
    font-size: x-large;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

.input-container button[type="submit"]:hover {
    background-color: var(--button-primary-hover);
    color: var(--secondaryColor);
}

.form {
    display: flex;
    justify-content: center;
}

/* Style the text next to the button */
.input-field input[type="file"] {
    color: var(--text-secondary);
}

/* Style the actual clickable button */
.input-field input[type="file"]::file-selector-button {
    background-color: var(--accentTwo);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    transition: background 0.2s ease;
}

/* Add hover effects */
.input-field input[type="file"]::file-selector-button:hover {
    background-color: var(--accentOne);
    color: var(--text-primary);
}

.error {
    display: flex;
    font-size: 14px;
    color: red;
    margin-bottom: -14px;
}

.error p {
    margin-top: 0;
}

.replace-file button {
    background-color: var(--accentTwo);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.replace-file button:hover {
    background-color: var(--accentOne);
    color: var(--text-primary);
}

.circle-icon {
    width: 18px;
    height: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.cancel-button {
    display: block;
    text-decoration: none;
    background-color: var(--background);
    padding: 10px 20px;
    font-size: x-large;
    border: 1px solid;
    border-radius: 5px;
    color: var(--text-primary);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.cancel-button:hover {
    background-color: var(--accentTwo);
    color: #fff;
}

@media (min-width: 600px) {
    .main-container h1 {
        margin-left: 40px;
        margin-top: 10px;
    }

    .main-table {
        display: table;
        border: 1px solid;
        border-collapse: collapse;
        width: fit-content;
        border-color: #448061;
    }

    .table-container {
        display: flex;
        justify-content: center;
        padding: 50px 0px;
        padding-bottom: 20px;
    }

    .main-table th {
        background-color: var(--accentOne);
        padding: 5px 50px;
        border: 1px solid #448061;
    }

    .main-table td {
        padding: 5px 50px;
        border: 1px solid #448061;
    }

    .main-table tr {
        border: none;
    }

    .card-container {
        display: none;
    }

    .input-container {
        max-width: 800px;
        padding: 30px 40px;
    }

    .input-field select {
        width: 96.5%;
    }

    .header {
        padding-right: 40px;
    }

    .primary-button {
        margin-bottom: 50px;
    }
}
